.JoinChat {
  background-color: #c8ddde;
}

.JoinChatInput {
  font-size: 2rem;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  font-size: 2rem;
}

.JoinChatServiceIcon {
  background: #83aebf;
  border-radius: 26px;
  padding: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
