.sign-in {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sign-in > img {
  height: 50px;
  width: auto;
}
.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: #88dded;
  border: 1px solid #1c2c4c;
  background-color: #1c2c4c;
  font-weight: 600;
  cursor: pointer;
}
