body {
  /* background-color: #c8ddde; */
  background-color: #9aced1;
}

.sign-in {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sign-in > img {
  height: 165px;
  width: auto;
}
.sign-out {
  padding: 14px 60px;
  border-radius: 5px;
  color: #88dded;
  border: 1px solid #1c2c4c;
  background: #1c2c4c;
  font-weight: 600;
  cursor: pointer;
  font-size: 2.8rem;
}

@media screen and (max-width: 500px) {
  .sign-in > img {
    height: 100px;
    width: auto;
  }
}
