/* Logo.css */

.image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.Iconlogo {
  text-decoration: none;
}

.Iconlogo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Iconlogo img {
  width: 10rem;
}

@media screen and (min-width: 600px) {
  .Iconlogo img {
    width: 14rem;
    border-radius: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .Iconlogo img {
    width: 100%;
  }
}

.Iconlogo svg {
  font-size: 1.25rem;
  color: blue;
}