.UserComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
}

.AvatarColumn {
  flex: 0 0 auto; /* This prevents the AvatarColumn from flexing and maintains its original size */
  margin-right: 20px; /* Add some spacing between the avatar and info */
}

.InfoColumn {
  flex: 1;
}

/* You can add more styles as needed */
.AvatarColumn > img {
  height: 115px;
  width: auto;
}

@media screen and (min-width: 600px) {
  .UserComponent {
    font-size: 3rem;
  }
}
